<h1>Congratulations, you found the {{ include.name }} donut!</h1>
<p>Click the image below on your Apple device to view the donut in AR! Have a look at <a href="/help">Help</a> if you get stuck!</p>
{%- capture m -%}/assets/ar/{{ include.type }}.usdz{%- endcapture-%}
{%- capture t -%}/assets/images/{{ include.type }}.jpg{%- endcapture-%}
{% include model.html model=m thumbnail=t %}
<h2>Picture challenge</h2>
<p class="tip">Every donut has its own challenge! If you want to take part, please follow the challenge instructions below, then WhatsApp/Message the picture to Nathan (or any leader) separately.</p>
<div class="challenge"><p>{{ include.challenge}}</p></div>