<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Nathan, Zeb, Jay, and Ted Kitchen">
    <meta name="robots" content="{% if page.hidden %}noindex,nofollow{% else %}index,follow{% endif %}">
    <title>{{ page.title }} - SCYC Tyneham Donut Trail</title>
    <link href="/assets/css/bootstrap.css?{{ site.time | date: '%s' }}" rel="stylesheet" crossorigin="anonymous">
    <link href="/assets/css/cover.css?{{ site.time | date: '%s' }}" rel="stylesheet">
  </head>
  <body class="d-flex mnh-100 text-center text-white bg-dark {{ page.bodyClass }}">
    
    <div class="cover-container d-flex w-100 mnh-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">scyc.uk</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/help/">Help</a>
            <a class="nav-link" href="https://www.nathankitchen.com/augmented-reality-donuts" target="_blank">About</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        {{ content }}
      </main>

      <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
      </footer>
    </div>
  </body>
</html>